* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sigmar', cursive;

}

a {
    color: black;
}



body {
    background: black;
}

main {
    background-color: #ef3353
}

h2 {
    background-color: #f4b036;
}

h3 {
    background-color: #f4b036;

}

article p {
    font-size: 20px;
}
section p{
    font-size: 2rem;
}

footer {
    background-color: black;
}
