* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sigmar', cursive;

}

$color-principal:#ef3353; 
$color-secundario: #f17144;
$color-terciario: #f4b036;
$color-footer: black;

a {
    color: black;
}



body {
    background: black;
}

main {
    background-color: $color-principal
}

h2 {
    background-color: $color-terciario
}

h3 {
    background-color: $color-terciario

}

article p {
    font-size: 20px;
}
section p{
    font-size: 2rem;
}

footer {
    background-color: $color-footer;
    height: 300px;
}
