* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: black;
}

.reporductor {
    height: 75%;
    width: 75%;
}

.logos-a {
    background-color: white;
}

body {
    background: black;
}

/* ---Header--- */
header {
    background-color: #f17144;
    height: 130px;
}



nav div {
    background-color: #f17144;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

/* --Main--- */
main {
    background-color: #ef3353
}

h2 {
    background-color: #f4b036;
}

h3 {
    background-color: #f4b036;

}

article p {
    font-size: 20px;
}
section p{
    font-size: 2rem;
}


.imagenes {
    padding: 20px;
    margin-bottom: 30px;
    border: solid #723e4e 20px;
}

.lista-shows {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#mapas{
    padding: 30px;
}




.mapa {
    width: 700px;
    height: 700px;
}

.formularios {
    padding: 50px;
    bottom: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* ---Footer--- */
footer {
    background-color: black;
}

.logos-footer {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
